<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to PrestaBridge!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row main">
        <% flash.each do |key, messages| %>
          <div class="alert alert-danger col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" role="alert">
            <button class="close" data-dismiss="alert">×</button>
            <h4>Oops!</h4>
            <% messages.each do |message| %>
              <p><%= message %></p>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
		  </div>
	  </div>
  </body>
</html>
