<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to PrestaBridge!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Settings</div>
          </div>
          <div class="panel-body">
            <p>Welcome back, <%= current_user.name %>!</p>
          </div>
					<div class="list-group">
						<a href="#" class="list-group-item">
              Products
						</a>
					</div>
        </div>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <% flash.each do |key, messages| %>
                <div class="alert alert-danger col-md-6 col-sm-8" role="alert">
                  <button class="close" data-dismiss="alert">×</button>
                  <h4>Oops!</h4>
                  <% Array(messages).each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
